<section id="about">
  <h1 class="about-title">About Us</h1>
  <div class="se-indiv">
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/aaahana.png" alt="" />
      </div>

      <div class="about-text">
        Hi, I am Aaahana Mehrotra, a student of class 9 at DPS RK Puram with
        interests in computer science, physics and mathematics. I am a web
        development enthusiast. I am a keen learner and observer and hope to use
        my skills in order to improve the society
      </div>
    </div>
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/aanya.jpg" alt="" />
      </div>

      <div class="about-text">
        Hi there! I'm Aanya Yaduvanshi, a student of class 9 DPS R.K Puram. I
        love to debate and discuss on topics related to technology and
        International Relations. I am learning web development, and hope to
        create change using the skills I have.
      </div>
    </div>
  </div>
  <div class="se-indiv">
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/mannat1.jpg" alt="" />
      </div>

      <div class="about-text">
        Hi, I am Mannat Kaur, a student of class 9 at DPS RK Puram with
        interests in computer science and mathematics. I am an ML enthusiast and
        love public speaking.
      </div>
    </div>
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/tanmay.jpeg" alt="" />
      </div>

      <div class="about-text">
        Hi, my name is Tanmay Jain, a student of class 9 DPS RK Puram. I am
        fascinated by Stars and Planet and I want to study about it in astronomy
        . My hobby is playing badminton.
      </div>
    </div>
  </div>
</section>
