<section id="dashboard">
<div class="dashboard1">
  
    <div class="vid-container">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8rKT3s1IHHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
  <div class="dash-main">
  Oceans are a constantly changing arena. Several issues are being brought up now, for instance, the temperature rise and the effect it is having on marine life. Important conversations need to be held around these topics. We hope to encourage productive discourse and bring awareness with OceanWebApex. 
  </div> 
</div>

<h1 class="about-title">Problem</h1>

<div class="solution-div">
  <h2 class="solution-h2">
    There are various events that keep occurring deep down in the oceans that we
    are often never aware of. They can often be disastrous. Shift of plates and
    other movements (hurricane) underwater can have a huge toll on humanity,
    like the one that happened with Titanic. In order to not face that ordeal It
    is imperative to have a tracker that tracks the circumstances and movements
    occurring deep down and send alarms accordingly.
  </h2>
</div>

<hr>

<h1 class="about-title">Solution</h1>

<div class="solution-div">
  <h2 class="solution-h2">
    After having read about this issue a lot, we thought of solving this by
    developing a tracker. Our main aim is to raise awareness among people about
    common issues in different oceans, through visual and interesting models and
    track recent events like coral depletion, shark movement, waves movement,
    plates movement, mining, etc. We have added the map of the world from map
    box to depict what the site would actually look like with the data.
  </h2>
</div>


</section>

