<div id="map">
  <h1 class="about-title">
  Maps 
   </h1>
  <iframe
    width="100%"
    height="400px"
    src="https://api.mapbox.com/styles/v1/aaahanamehrotra/ckuz0yxdz0dve14mt8x7dlnpz.html?title=false&access_token=pk.eyJ1IjoiYWFhaGFuYW1laHJvdHJhIiwiYSI6ImNrdXhxcmJ2NjJoa2IydXF2d3FkcDN0ZGEifQ.998EzKxZ2f0jJH7j45rkbg&zoomwheel=false#9.54/41.8247/-87.7194"
    title="Basic"
    style="border: none"
  ></iframe>
</div>

<h1 class="about-title" style="padding-top: 10%; padding-bottom: 5%;">
Examples of the kind of maps we will produce
</h1>
<div class="maps">
<img class="map1" src="/images/map1.jpg" > </img>
<img class="map1" src="/images/map2.jpg" > </img>
<img class="map1" src="/images/map3.jpg" > </img>
<img class="map1" src="/images/map4.png" > </img>

</div>
